div h1 {
	text-align: center;
}

div table {
	min-width: 320px;
	margin: 0 auto;
}

/* Create a class for links that have been overridden by JS so they still look live */
a.clickable {
	cursor: pointer;
}
a.clickable:hover {
	text-decoration: underline;
}

/* Server info message */
address {
	text-align: center;
	margin-top: 1em;
}


/* Flash message */
p.flash {
	margin-left: auto;
	margin-right: auto;
	width: 320px;
	font-size: 1.3em;
	text-align: center;
}
img {
	display: block;
	margin: 0 auto;
}